/*Creating CSS3 Transitions and Animations in CSS and triggering them with JavaScript*/

#transition {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 5s, height 5s, transform 5s;
}

#animation{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
