body{
    background-color: #828282;
}
p a{
    float: right;
    color: #ffffff;
    font-size: 1.5em;
    padding: 0.5%;
    background-color: #2D8633;
    border-radius: 10px;
}
p a:hover{
    text-decoration: none;
    color: #ffffff;
}
main p{
    padding: 1%;
}
